form {
    h1 {
        color: $textSecondary;
    }
    color: $textPrimary;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 15vh;
    background-color: black;
    align-items: center;
    div {
        display: flex;
        margin: 10px;
    }
    input {
        margin: 10px;
    }
}
