.hero {
    color: $textSecondary;
    height: 60vh;
    background-color: $colorPrimary;
    background-image: url("./assets/logo2.svg");
    background-repeat: no-repeat;
    background-position: right;
}
.main-content {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 40vh;
    margin: 90px 20px;
    justify-content: center;
    align-items: center;
    background-color: $colorPrimary;
}
