.logo {
    display: flex;
    position: relative;
    font-size: 35px;
    line-height: unset;
    margin: 20px;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}
#o1 {
    color: rgb(255, 166, 0);
    transform: translateY(10px);
}
#o2 {
    color: green;
    transform: translateY(-10px);
}
