nav {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 10vh;
    background-color: $colorPrimary;
}
nav ol {
    display: flex;
    width: 60vw;
    flex-direction: row;
    justify-content: center;
    color: $textSecondary;
    list-style: none;
}
nav li {
    margin: 20px;
}
.login {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.login > * {
    margin: 20px;
}
